main {
  /* To push the footer down */
  min-height: 80vh;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

/* Style the form - display items horizontally */
/* .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
} */
